@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");


@import "tailwindcss";


html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", serif;
  line-height: 1.7;
  color:#2C3E50;
  padding: 0px 50px
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", "Libre Baskerville", Georgia, serif;
  letter-spacing: 0.5px;
}
